@charset "utf-8";

.embed-responsive-16by9, .embed-responsive {
  padding: 0;
  margin: 0;
  width: 560px;
  height: 315px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
  font-family: "Lobster", serif;
  color: #FF5FA2;
  padding-bottom: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h6 {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-align: center;
  line-height: 2;
}

.media {
  padding-bottom: 30px;
}

.media-body p, ol, .card-body {
  font-family: "Poppins", sans-serif;
  font-size: 80%;
}

.nav-tabs, .nav-item {
  background-color: #EBEBEB;
  color: #FF5FA2;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.nav-item{
	border-radius: 5px;
}

.nav-item:hover, .nav-item:active {
  background-color: #FF5FA2;
  color: #EBEBEB;
}

.container {
	font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
/*#twicesong {
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	margin-bottom: 0;
}*/
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
  padding-bottom: 20px;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

.nav-link:hover, .nav-link:active {
  color: inherit;
  text-decoration: none;
}

.media img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

body {
  background: linear-gradient(to top right, #F6B9D5, #EBEBEB, #F7B49C);
}

#carouselExampleIndicators1 {
  max-width: 100%;
  margin: auto;
}

.carousel-item img {
  height: 500px;
  object-fit: cover;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #FF5FA2;
  border-radius: 50%;
}
.nav-tabs{
	background-color: aliceblue;
}